<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garnet.security.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.garnet.security.model.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
    </resultMap>

<!--    <insert id="save" parameterType="com.garnet.security.model.UserInfo">-->
<!--        insert into user (username, password) values (#{username}, #{password})-->
<!--    </insert>-->


    <select id="selectByUserId" parameterType="int" resultMap="BaseResultMap">
        select * from role where id in (
            select role_id from user_role where user_id = #{userId}
        )
    </select>
</mapper>