<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garnet.security.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.garnet.security.model.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

<!--    <insert id="save" parameterType="com.garnet.security.model.UserInfo">-->
<!--        insert into user (username, password) values (#{username}, #{password})-->
<!--    </insert>-->


    <select id="selectByUsername" parameterType="String" resultMap="BaseResultMap">
        select * from user where username = #{username}
    </select>
</mapper>